table thead tr{
    background-color: rgb(0, 70, 151);
    color:white;
    font-size: 16px;
}

tbody tr td{
    font-size: 14px;
    font-weight: bold;
}

th,td{
    padding: 10px 20px;
}

td{
    border: 1px solid lightgray;
}

tr:nth-child(even){
    background-color:  rgba(11, 106, 214, 0.207);
}